NODE RED FLOW.txt
[
    {
        "id": "2ec6ff2a.2c3fb",
        "type": "ibmiot out",
        "z": "deb0d57.1c46528",
        "authentication": "boundService",
        "apiKey": "27e988bd.893a48",
        "outputType": "cmd",
        "deviceId": "VancouverRobotDemoUnit",
        "deviceType": "Telus-IOT-Starter-Kit",
        "eventCommandType": "control",
        "format": "String",
        "data": "command",
        "qos": "0",
        "name": "Robot",
        "service": "registered",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "3099fa37.784cc6",
        "type": "inject",
        "z": "deb0d57.1c46528",
        "name": "Forward",
        "topic": "",
        "payload": "forward",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "2ec6ff2a.2c3fb",
                "846afdfd.56b04"
            ]
        ]
    },
    {
        "id": "fde05c01.402e6",
        "type": "debug",
        "z": "deb0d57.1c46528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "8e25327d.8c2b",
        "type": "inject",
        "z": "deb0d57.1c46528",
        "name": "Backward",
        "topic": "",
        "payload": "backward",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "2ec6ff2a.2c3fb",
                "846afdfd.56b04"
            ]
        ]
    },
    {
        "id": "119980f8.b9481f",
        "type": "inject",
        "z": "deb0d57.1c46528",
        "name": "Pick Up",
        "topic": "",
        "payload": "pick_up",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "2ec6ff2a.2c3fb",
                "846afdfd.56b04"
            ]
        ]
    },
    {
        "id": "846afdfd.56b04",
        "type": "debug",
        "z": "deb0d57.1c46528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "d80bd32b.b4005",
        "type": "cloudant out",
        "z": "deb0d57.1c46528",
        "name": "DB out",
        "cloudant": "",
        "database": "sensor",
        "service": "VancouverRobotIBM-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "663286a0.a250a8",
        "type": "ibmiot in",
        "z": "deb0d57.1c46528",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "VancouverRobotDemoUnit",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "Robot",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "fde05c01.402e6",
                "d80bd32b.b4005"
            ]
        ]
    },
    {
        "id": "deab2c64.d6ecb",
        "type": "http in",
        "z": "deb0d57.1c46528",
        "name": "HTTP IN",
        "url": "/request",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "f41cba90.5c3a68",
                "3b018dd7.fc78f2"
            ]
        ]
    },
    {
        "id": "f41cba90.5c3a68",
        "type": "function",
        "z": "deb0d57.1c46528",
        "name": "ΔPayload",
        "func": "msg.payload = msg.payload.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "2ec6ff2a.2c3fb",
                "846afdfd.56b04"
            ]
        ]
    },
    {
        "id": "3b018dd7.fc78f2",
        "type": "http response",
        "z": "deb0d57.1c46528",
        "name": "HTTP OK",
        "statusCode": "200",
        "headers": {},
        "x": 300,
        "y": 400,
        "wires": []
    },
    {
        "id": "27e988bd.893a48",
        "type": "ibmiot",
        "z": "",
        "name": "Robot",
        "keepalive": "3000",
        "serverName": "wkfedz.messaging.internetofthings.ibmcloud.com",
        "cleansession": false,
        "appId": "",
        "shared": false
    }
]